page-contact {


   
ion-icon {   
     display: inline-block ;
        font-size:   2.2em !important ;
        };


ion-title {


text-align: center;
        
}


.social {
        text-align: center;
        margin: auto;
        
        }
        
         
};

