page-home {

    ion-content .scroll-content{
        background-color: black;

    }

    ion-title{
        font-family: CairoSemiBold;
    }

};

ion-slides {

height: 25vh;
width: 100%;


};

.NAVLOGO {

    height: 8vh;
    width: 8vh;
    align-items: center;
 

};


