page-home {



    #ser1 {
        margin: 0 auto;
        display: block;
    };



.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      padding: 16px;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }







    button{

        margin: auto;
        display: block;

    }

ion-toolbar{
    padding: 0px !important ;

        };

    ion-card {
        font-size: 1.4rem;
        line-height: 1.5;
        margin: 0 !important  ;
        width: calc(100%) !important  ;
    }

    ion-card-content {
        padding: 0 !important ;
    }

    ion-slide img  {
        display: block;
        margin: auto;
    }


    .fab-ios {
        background-color: white !important ;
    }


    ion-slides {
        height: 25vh;
        width: 100%;
    }

    .NAVLOGO {
        height: 8vh;
        width: 8vh;
        align-items: center;
    }



}


ion-title   {

  text-align: center;

}
