page-home {
    ion-card {
        font-size: 1.4rem;
        line-height: 1.5;
        margin: 0 !important  ;
        width: calc(100%) !important  ;
    };      
    ion-card-content {

        padding: 0 !important ;

    }

    ion-slide img  {
        display: block;
        margin: auto;
       }
       


   
            
};

ion-slides {
height: 25vh;
width: 100%;
};

.NAVLOGO {
    height: 8vh;
    width: 8vh;
    align-items: center;
 };

