page-livesupport {

    ion-navbar{
        padding: 0px !important ;
        height: 56px;
        
            };



    .titlepos{
        position: absolute;
        top: 0;
        text-align: center  !important ;
        margin-top: 12px;
        margin-right: 104px;
   
    }
    


    
ion-toolbar{
    padding: 0px !important ;
    
    
        };



    .card-md h3, .card-md h4, .card-md h5, .card-md h6 {
        font-size: 2.6rem;
        color:  color($colors, primary, base);
        ;
        padding: 16px;
        text-align: center;
    }


    ion-title {
text-align: center;

    }
    

    ion-card-content{

        padding: 0px !important ;
        background-color: "light" ;

    }

  
  
};


.alert-md .alert-radio-icon{

    margin-right: 30px !important ;




}


